.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
    overflow: auto;
    background-color: #6FB98F;
}

body {
    background-image: url(fern-wallpaper.jpg);
}
.passport-image {
    float:none;
}

ul{
    border-left: 2px solid #73AD21;
    background: #2C7873;
    text-align: center;
}

ul li {
    color: #021C1E;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

ol{
    border-left: 2px solid #73AD21;
    background: #2C7873;
    text-align: center;
}

ol li {
    color: #021C1E;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 2.5em;
	font-weight: 700;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	margin-bottom: -6px;
    color: aliceblue;
}

h2 {
    color: aliceblue;
	font-size: 2em;
	margin-left: 2px;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}
